@purple-dark : #82697e;
@purple-light : #a16b7c;

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title{
        color: @purple-dark;
        font-size: 48px;
        margin-bottom: 16px;

        p{
            &:last-of-type{
                margin-left: 20%;
            }
        }
    }

    &-image{
        text-align: center;
        img{
            width: 65%;
        }
    }
}