@import '../styles/global.less';

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    font-family: "Mikado-Medium",sans-serif; 
    // box-shadow: 0 0 8px 0 rgb(0 0 0 / 33%);

    #screen.xs({
        justify-content: space-between;
    });

    &-wrapper{
        background-color: #333333;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;
    }

    &-logo{
        width: 10%;
    }

    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    &-content__left, &-content__right, &-content-info{
        display: flex;
        align-items: center;
    }

    &-content-info{
        &:not(:last-of-type){
            margin-right: 5rem;
        }
    }

    a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.slider{
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    color: #fff;

    &.hide{
        transform: translate3d(-100vw, 0, 0);
    }

    &.show{
        transform: translate3d(0vw, 0, 0);
    }


    &__header{
        height: 100px;
        text-align: right;
        position: relative;
        border-bottom: 1px solid #fff;

        span{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 20px;
        }
    }

    &__content-wrapper{
        padding: 20px;
    }

    &__content{
        margin-bottom: 40px;

        a{
            color: #fff;
            text-decoration: none;
            font-size: 18px;
        }
    }
}