@import '../styles/global.less';

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    font-family: "Mikado-Medium",sans-serif; 
    // box-shadow: 0 0 8px 0 rgb(0 0 0 / 33%);

    &[data-page='about']{
        background-color: @yellow;
    }


    &-logo{
        width: 10%;
    }

    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    &-content__left, &-content__right, &-content-info{
        display: flex;
        align-items: center;
    }

    &-content-info{
        &:not(:last-of-type){
            margin-right: 5rem;
        }
    }

    a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
    }
}