.scroll-container {
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    will-change: transform;
    overflow: hidden;
    background-color: #a16b7c24;
    border-radius: 20px;
  
    .ghost {
      width: 100vw;
    }
  }
  
  .thumbnails-container {
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    height: 600px;
  
    .thumbnails {
      position: relative;
      display: flex;
  
      & > *:not(:last-child) {
        margin-right: 45px;
      }
    }
  }
  
  