.service{
    height: 150vh;
    position: relative;
    padding: 80px 0;

    &__wrapper{
        position: sticky;
        top: 80px;
        width: inherit;
    }

    &__content-wrapper{
        padding: 120px 40px;

        background-color: #f2f0ee;
        border-radius: 5px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content-holder, &__image-holder{
        width: 50%;
    }

    &__image-holder{
        position: relative;
        height: 100%;
    }

    &__coder{
        position: absolute;
        top: 50%;
        z-index: 2;

        img{
            width: 100%;
        }
    }

    &__coding{
        position: absolute;
        top: 50%;
        z-index: 1;

        img{
            width: 100%;
        }
    }

    &__devices{
        position: absolute;
        top: 50%;
        img{
            width: 100%;
        }
    }

    &__title{
        font-size: 44px;
        margin-bottom: 32px;
    }

    &__subtitle{
        text-align: center;
        margin-bottom: 30px;
        font-weight: bold;
    }

    &__content{
        text-align: center;
        p{
            margin-bottom: 15px;
        }
    }

}