@import './styles/global.less';

@background-color: #f2f0ee;
@text-color: #58595b;

@primary-color: #6b576b;
@secondary-color: #de9131;

// remove default stylings
body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

body{
    font-family: Roboto,sans-serif;
    color: @text-color;
}

.container{
  max-width: 1040px;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;

  #screen.sm({
    padding-left: 3rem;
    padding-right: 3rem;
  });

  #screen.xs({
    padding-left: 2rem;
    padding-right: 2rem;
  })
}

p{
  line-height: 1.55;
}

.padding-stripe{
  padding: 60px 0px;
}